<footer class="footer">
    <div class="footer--button">
      <a class="footer--button--link" href="#home">
        <img class="footer--button--img" src="./assets/icons/ico-arrow.svg" alt="press this to go up">
      </a>
    </div>
    <nav class="footer--menu">
      <ul class="footer--menu--list">
        <li class="footer--menu--item"><a class="footer--menu--link" href="#">articles</a></li>
        <li class="footer--menu--item"><a class="footer--menu--link" href="#">books</a></li>
        <li class="footer--menu--item"><a class="footer--menu--link" href="#">events</a></li>
        <li class="footer--menu--item"><a class="footer--menu--link" href="#">reasons</a></li>
        <li class="footer--menu--item"><a class="footer--menu--link" href="#">tips</a></li>
      </ul>
    </nav>

    <div class="footer--social">
      <ul class="footer--social--list">
        <li class="footer--social--item"><a class="footer--social--link" href="http://twitter.com">twitter</a></li>
        <li class="footer--social--item"><a class="footer--social--link" href="http://instagram.com/">instagram</a></li>
        <li class="footer--social--item"><a class="footer--social--link" href="https://mastodon.social/about">mastodon.social</a></li>
      </ul>
    </div>

    <div class="footer--copy">
      <small class="footer--copy--right">&copy;2017</small>
      <small class="footer--copy--motto">we <span class="footer--copy--heart">❤︎</span> components</small>
    </div>
</footer>