<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./assets/icons/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <title>Evaluación intermedia - María</title>
  <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body class="page">
  <partial src="_header.html"></partial>
  <div class="hero" id="home">
    <div class="hero--text">
      <h1 class="hero--title">Anonymus proxy</h1>
      <p class="hero--subt">In hac habitase platea dictumst</p>
      <a class="hero--btn" href="#reasons">
        <img class="scroll-down-icon" src="./assets/icons/ico-scroll-down.svg">
      </a>
    </div>
  </div>
  <main class="main">
    <section class="firstsection">
      <small class="firstsection--small">insomnia tips</small>
      <h2 class="firstsection--title">looking through a window</h2>
      <p class="firstsection--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class="btn" href="#">go</button>
    </section>
    <section class="maincontent">
      <h2 class="maincontent--title">3 reasons to purchase</h2>
      <div class="maincontent--table" id="reasons">
        <partial src="_mainsection.html" reasonTitle="ut sed metus" reasonEntry="Lorem ipsum dolor sit amet, consectetur"></partial>
        <partial src="_mainsection.html" reasonTitle="ut sed metus" reasonEntry="Lorem ipsum dolor sit amet, consectetur"></partial>
        <partial src="_mainsection.html" reasonTitle="ut sed metus" reasonEntry="Lorem ipsum dolor sit amet, consectetur"></partial>
      </div>
      <button class="btn btn-default" href="#">More reasons</button>
    </section>
  </main>
  <partial src="_footer.html"></partial>
</body>
</html>