<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <title>Prueba1</title>
  <link rel="stylesheet" href="./../assets/css/main.css">
</head>
<body class="page">
  <partial src="_header.html"></partial>
  <div class="hero">
    <div class="hero--text">
      <h1 class="hero--title">Anonymus proxy</h1>
      <p class="hero--subt">In hac habitase platea dictumst</p>
      <a href="#">
        <div class="hero--btn">
          <img class="scroll-down-icon" src="./assets/icons/ico-scroll-down.svg">
        </div>
      </a>
    </div>
  </div>
  <main>
    <section class="firstsection">
      <small class="firstsection--small">insomnia tips</small>
      <h2 class="firstsection--title">looking through a window</h2>
      <p class="firstsection--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class="btn">go</button>
    </section>
  </main>
</body>
</html>