.footer{
    height: 465px;
    background: $background-footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media all and (min-width:768px){
        height: 240px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer--button{
        position: absolute;
        bottom: 442.5px;
        @media all and (min-width:768px){
            bottom: 217.5px;
        }
        &:hover{
            animation: 'scroll-up' linear 1s infinite;
        }
        .footer--button--link{
            width: 45px;
            height:45px;
            border-radius: 22.5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @keyframes scroll-up {
        from{
            bottom: 217.5px;
        }
        to{
            bottom: 234px;
        }
    }

    .footer--menu,.footer--social{
        text-transform: uppercase;
        font-family: $font-title;
        .footer--menu--list,.footer--social--list{
            list-style: none;
            font-family: $font-text;
            text-align: center;
            line-height: 1.88;
            padding: 0px;
            .footer--menu--link,.footer--social--link{
                text-decoration: none;
                color: white;
            }
        }
    }
    .footer--copy{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 30px 0 0 0;
        @media all and (min-width:768px){
            order: -1;
        }
        .footer--copy--motto{
            font-size: 14px;
            line-height: 2.14;
            .footer--copy--heart{
                color: $color-main;
            }
        }
    }
    
}
