.footer{
    background: $background-footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--button{
    width: 45px;
    height:45px;
    border-radius: 22.5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // transform: translate(0,-50%);
    // animation-duration: 5s;
}